<style>
	.applySocially, .uploadCV {
		text-align: center;
	}
</style>

<div class = "apply well">
	<div class = "applySocially">
		<!-- if logged in, not sure how it will work to have this -->
		Apply Socially
		<div class = "applyLinkedIn"></div>
	</div>
	<div>
		<input type="file" class="form-control btn" id="image" onchange="angular.element(this).scope().s3Upload(this)">
		<p id="status">Please select a file</p>
		<img id="preview" src="/images/blank_teacher.png" />

		<form method="POST" action="/submit_form/">
			<input type="hidden" id="avatar_url" name="avatar_url" value="/public/default.png" />
			<input type="text" name="username" placeholder="Username" /><br />
			<input type="text" name="full_name" placeholder="Full name" /><br /><br />
			<input type="submit" value="Update profile" />
		</form>
	</div>

</div>