<style>
	/* BEGIN JOBS PAGE */

#filter-bar {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.edit-panel {
	padding-top: 20px;
}

.job-panel input {
  border:none;
  background: none;
  padding: 0;
  font-style: normal;
}

.job-status-label {
	color:red;
	border: .5px solid red;
}

.job-panel .panel-heading {
  display:flex;
  padding:0;
  margin-bottom:0;
  font-size: large;
  font-weight: 400;
  color: #0065C4;
}

.job-panel textarea {
  border:none;
  padding:0;
}

.job-panel .dateModified {
  margin-top:auto;
  margin-bottom:auto;
  font-style: italic;
}

.job-panel span, .job-panel div {
	font-style: normal;
}

.job-panel {
	border: none;
	border-bottom: 1px solid lightgray;
}

.job-panel .admin-list-start {
  text-align: center;
  font-weight: bold;
}

.job-panel .subjects-list-item {
  display: flex;
}

.job-panel .list-group-item label {
  padding-right: 5px;
}

.job-panel .select-dropdown {
  width: 100%;
  margin-top:auto;
  margin-bottom:auto;
}

.job-panel .reign-in {
  width:100%;
}

.job-panel .panel-footer {
	background: none;
	border-top:none;
	padding-left:0;
}

.client-name {
	font-weight: bold;
	float:left;
	padding-right: 5px;
}

.panel-body {
	padding-left:0;
	padding-bottom:0;
}

.subtitle-location {
	color: gray;
}

.footer-buttons button:first-of-type {
	padding-left: 0;
}

.list-group li:first-of-type {
	border-bottom:none;
}

.job-panel .dateModified {
	color:lightgray;
	font-style:normal;
}

.job-panel textarea, .job-panel input[type='text'] {
	width:100% !important;
}

.job-panel .newNote {
	display:flex;
}

.job-panel .newNote textarea {
	border: 1px solid #ccc;
}

.job-panel .newNote btn {
	margin-left:5px;
}

.notesAboveFold {
	background-color: whitesmoke;
	font-size:smaller;
	margin-top:10px;
}

.notesAboveFold td {
	border:none !important;
}

.panel-heading-subtitle a {
	color:black;
	opacity: .8;
}

/* END JOBS PAGE */
</style>

<!-- this template contains an entire job -->
<!-- it will have public fields and private fields, including a list of applicants -->

<div class="page-header">
	<h1><a ng-href="#/jobview/{{job_.$id}}">{{job_.title }}</a></h1>
</div>


<div class = "panel panel-default job-panel">

	<!-- Public template of job details; fields should only be editable for admins -->
	<div class="public-job-details">
		<!-- title -->
		<!--h3 class = "panel-heading">
			<a ng-href="#/jobview/{{job_.$id}}">{{job_.title}}</a>
		</h3-->
		<!--div class = "panel-heading-subtitle">
			<span class = "client-name"><a ng-href="/#/profile/{{client.userID}}">{{client.firstName}}</a></span>
			<span> - </span>
			<span class = "subtitle-location">			
				<span class = "short-location" ng-if="job_.shortLocation">{{job_.shortLocation}}<i>, </i></span>				
				<span class = "subtitle-city">{{cities[job_.city].en}}</span>
			</span>
		</div-->

		<!-- description -->
		<!--div class = "panel-body"-->
			<!--span>{{job_.longDesc}}</span-->
			<!--notes notes="notes" can-add="true"></notes-->			
		<!--/div-->
		

			<form class = "edit-panel form-inline">
				<!--div class="text-center">
					-<button class="btn btn-link" ng-click="coll()">{{readMore}}</button>- 
				</div-->

				<ul class = "list-group">
					<li class = "list-group-item">
						<notes notes="notes" can-add="true"></notes>
					</li>
					<li class = "list-group-item">
						<label>Title</label>
						<input type="text" class="form-control" ng-model="job_.title" ng-change="save()">
					</li>
					<li class = "list-group-item">
						<label>Description</label>
						<textarea ng-model="job_.longDesc" msd-elastic="\n" class="form-control" ng-change="save()"></textarea>
					</li>
				</ul>
				
				<ul class="list-group">
					<li class="list-group-item subjects-list-item">
						<span class="select-dropdown">
							<label>Subjects:</label>
							<span ng-repeat="(key,_) in job_.subjects track by key">
								{{subjects[key]}}{{$last ? '' : ', '}}
							</span>
						</span>
						<select multiple ng-model="jobSubjects" ng-change="saveSubjects(jobSubjects)" ng-options="key as subject for (key, subject) in subjects" class="form-control reign-in">
							<option value="">-- choose --</option>
						</select>
					</li>
					<!-- schedule -->
					<li class="list-group-item">
						<label>Schedule:</label><br>
						<textarea msd-elastic ng-model="job_.schedule" class="form-control"></textarea>
					</li>
				</ul>

				<ul class="list-group">
					<li class="list-group-item">
						<span class="select-dropdown"><label>Fee:</label></span>
						<input type="text" ng-model="job_.fee" class="form-control" ng-change="save()">
					</li>
					<li class = "teacherPay list-group-item">
						<label>Teacher Pay:</label>
						<input type="text" ng-model="job_.teacherPay" class="form-control" ng-change="save()">
					</li>
				</ul>

				<ul class = "list-group">

					<!-- city -->
					<li class="list-group-item subjects-list-item">
						<span class="select-dropdown"><label>City:</label></span>
						<select ng-model="job_.city" ng-change="save()" ng-options="k as c.en for (k,c) in cities" class="reign-in form-control">
							<option value="">Choose a city</option>
						</select>
					</li>
					<!-- location -->
					<li class="list-group-item">
						<label>Short Location:</label>
						<input type="text" ng-model="job_.shortLocation" class="form-control" ng-change="save()">
					</li>
					<li class = "list-group-item">
						<label>Long Location:</label>
						<input type="text" ng-model="job_.locationDesc" class="form-control" ng-change="save()">
					</li>
				</ul>

				<ul class = "list-group">					

					<!-- ages -->
					<li class="list-group-item subjects-list-item">
						<span class="select-dropdown"><label>Student Age:</label></span>
						<select multiple ng-model="job_.age" ng-change="save()" ng-options="key as age for (key, age) in ages" class="reign-in form-control">
							<option value="">Choose an age group</option>
						</select>
					</li>

					<!-- number of students -->
					<li class="list-group-item">
						<label>Number of students:</label>
						<input type="text" ng-model="job_.numStudents" ng-change="save()">
					</li>

					
				</ul>

			
			<!-- end PUBLIC -->

			<!-- begin PRIVATE -->
			<div class="private-job-details">

				<!-- begin APPLICANTS -->
				<!-- APPLICANTS --> 
			<!-- <table class="table job-applicants">
				<thead>
					<tr><th class="admin-list-start">Applicants</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="app in job_.applicants">
						<td ng-bind="app.id"></td>
						<td>{{app.dateApplied | date:'MM/dd/yy'}}</td>
					</tr>
				</tbody>
			</table>	 -->
			<!-- end APPLICANTS -->

			<!-- ADMIN DETAILS --> 
			<ul class="list-group admin-details">
				<!-- <li class="list-group-item admin-list-start">Admin Details</li> -->
				
				<li class="list-group-item subjects-list-item">
					<!-- maybe typeahead at some points -->
					<span class="select-dropdown"><label>Client:</label>
						<a ng-if="job_.clientID" ng-href="/#/profile/{{job_.clientID}}">View Profile</a>
					</span>
					<select ng-model="job_.clientID" ng-change="save(); updateClient()" ng-options="c.id as c.firstName for c in clients" class="form-control reign-in">
						<option value=""></option>							
					</select>					
				</li>
				<!-- THE SAME THING BUT FOR THE SELECTED TEACHER; MAYBE REPRODUCE INTO A DIRECTIVE -->
				<li class="list-group-item subjects-list-item">
					<!-- maybe typeahead at some points -->
					<span class="select-dropdown"><label>Teacher:</label>
						<a ng-if="job_.teacherID" class="btn btn-link" ng-href="/#/profile/{{job_.teacherID}}">View Profile</a>
					</span>
					<select ng-model="job_.teacherID" ng-change="save()" ng-options="t.id as (t.firstName + ' ' + t.lastName) for t in teachers" class="form-control reign-in">
						<option value=""></option>										
					</select>		
				</li>


				<!--li class = "list-group-item">
					<h5 class="text-center">Applicants</h5>
					
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Country</th>
								<th>CV</th>
								<th>When Applied</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="a in appFormatted">
							{{a}}
								<td><a ng-href="#/profile/{{a.user.$id}}">{{a.user.firstName}} {{a.user.lastName}}</a></td>
								<td>{{countries[a.user.country]}}</td>
								<td><a href="{{a.user.cv}}" target="blank_" ng-if="a.user.cv">CV</a></td>
								<td><span am-time-ago="a.when"></span></td>
							</tr>
						</tbody>
					</table>	
					<select ng-model="newApplicant" ng-change="addApplicant(newApplicant)" ng-options="t.id as (t.firstName + ' ' + t.lastName) for t in teachers" class="form-control reign-in">
						<option value="" class="text-center">Add New</option>										
					</select>
				</li-->

				<li class = "list-group-item">
					<ll-job-applicants jobid="job.$id" can-add="true"></ll-job-applicants>
				</li>




				<li class="list-group-item subjects-list-item">
					<span class="select-dropdown"><label>Status:</label></span>
					<select ng-model="job_.status" class="reign-in form-control" ng-change="save()" ng-options="k as s for (k,s) in jobStatuses">
						<option value="">-- choose --</option>
					</select>	
				</li>				
			</ul>
		</div>
		</form>
	<!-- end PRIVATE -->

	<!-- FOOTER contains public / private fields -->
	<div class = "panel-footer">
		<div class="footer-buttons btn-group" role="group" aria-label="...">
			<!--button type="button" class="btn btn-link">Apply</button-->			
			<!-- toggle to see more job details -->
			<!--button class="btn btn-link" ng-click="coll()">{{readMore}}</button-->	
			<ll-delete item="job_" collection="job_"></ll-delete>			
			<button type="button" class="job-status-label btn btn-link pull-right" disabled>{{ jobStatuses[job_.status]}}</button>
		</div>		
		<span class="dateModified pull-right">
			Updated {{job_.dateModified | date:'MM/dd'}}
		</span>		
	</div>	
	<!-- end FOOTER -->
	
</div>

