<h5 class="text-center">Applicants</h5>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Country</th>
			<th>When Applied</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="a in applicants_">
			<td><a ng-href="#/profile/{{a.$id}}">{{a.firstName}} {{a.lastName}}</a></td>
			<td>{{countries[a.country]}}</td>
			<td><span am-time-ago="a.appliedTo[jobid].when"></span></td>
			<td>
				<a ng-if="a.cv" href="{{a.cv}}" target="blank_">CV</a>
				<button class="btn btn-xs" ng-click="deleteApplicant($index)">delete</button>
				<!--button class="btn btn-xs btn-warning" ng-click="rejectApplicant($index)">Reject</button-->
			</td>			
		</tr>		
	</tbody>
</table>
<select ng-if="canAdd === true" ng-model="newApplicant" ng-change="addApplicant(newApplicant)" ng-options="t.id as (t.firstName + ' ' + t.lastName) for t in teachers" class="form-control reign-in">
	<option value="" class="text-center">Add New</option>										
</select>
