<style>
	.newNote {
		display:flex;
	}
	.notesAboveFold {
		background-color: whitesmoke;
		font-size:small;
		margin-top:10px;
		max-height:10px;
		overflow-y:auto;
	}
	textarea {
		height:36px;
	}

	.notesAboveFold td {
		border:none !important;
	}	
	.showAdd:hover {
		cursor: pointer;
	}
	.tableWrapper {
		max-height: 200px;
		overflow-y:scroll;
	}
</style>

<div class="ll-notes">
	<div ng-if="canAdd === true && showAdd">
		<div class="newNote">
			<textarea class="textarea form-control msd-elastic newNote" ng-model="newNote"></textarea>
			<button class="btn btn-danger btn-xs" ng-click="pushNote(newNote); newNote = null"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>
	<a ng-show="canAdd === true" ng-click="showAdd = !showAdd" class="showAdd">Add Note</a>
	<div class = "tableWrapper">
		<table class="table notesAboveFold">		
			<tr ng-repeat="note in notes | orderBy:'-date'">
				<td>{{note.value || note.notevalue }}</td>
				<td>{{note.user || note.userid | limitTo: 4}}</td>
				<td>{{note.date | date:'MM/dd'}}</td>
			</tr>
		</table>
	</div>
</div>