<!-- ADMIN DETAILS --> 
<ul class="list-group">
	<li class="list-group-item admin-list-start">Admin Details</li>
	<li class="list-group-item subject-list-item">
		<span class="select-dropdown"><label>Fee:</label></span>
		<input type="text" ng-model="job.fee" class="form-control" ng-change="jobs.$save(job)">
	</li>
	<li class="list-group-item">
		<!-- drop down of contacts to feed into function -->
		<!-- would also be nice if contact itself was editable -->
		fun({{job.contact}) { returns contact info }
	</li>
	<li class="list-group-item subjects-list-item">
		<span class="select-dropdown"><label>Status:</label>{{job.status}}</span>
		<select ng-model="job.status" class="reign-in form-control" ng-options="s for s in jobStatuses track by s">
			<option value="">Status</option>
		</select>	
	</li>
	<li class="list-group-item">
		<label>Note:</label>
		<input type="text" ng-model="job.comment" class="form-control" ng-change="jobs.$save(job)">
	</li>
</ul>

<div class = "panel-footer">
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-primary">Apply</button>			
		<button type="button" class="btn btn-danger" ng-click="removeJob(key)">Delete Permanently</button>
	</div>
	<span class="dateModified pull-right">
		Updated on {{job.dateModified | date:'MM/dd/yy'}}
	</span>
</div>	