<!-- Public template of job details; fields should only be editable for admins -->


<!-- title -->
<div class = "panel-heading">
	<input type="text" class="form-control" ng-model="job.title" ng-change="jobs.$save(job)">		
</div>

<!-- description -->
<div class = "panel-body">
	<textarea ng-model="job.longDesc" class="form-control" ng-change="jobs.$save(job)"></textarea>

	<!-- toggle to see more job details -->
	<button class="btn btn-link" ng-click="coll()">Read more</button>		
</div>

<div class="rest_of_panel" collapse="isCollapsed">

	<ul class="list-group">

		<!-- map -->

		<!-- subjects -->
		<li class="list-group-item subjects-list-item">
			<span class="select-dropdown"><label>Subjects:</label>{{job.subjects | json }}</span>
			<select ng-model="job.subjects" ng-options="s for s in subjects" class="form-control reign-in">
				<option value="">Choose one or more subjects</option>
			</select>
		</li>

		<!-- pay -->
		<li class="list-group-item">
			<label>Pay:</label>
			<input type="text" ng-model="job.pay" ng-change="jobs.$save(job)">
		</li>

		<!-- location -->
		<li class="list-group-item">
			<label>Location:</label>
			<input type="text" ng-model="job.locationDesc" class="form-control">
		</li>

		<!-- schedule -->
		<li class="list-group-item">
			<label>Schedule:</label>
			<input type="text" ng-model="job.schedule" class="form-control">
		</li>

		<!-- ages -->
		<li class="list-group-item subjects-list-item">
			<span class="select-dropdown"><label>Student Age:</label>{{job.age}}</span>
			<select ng-model="job.age" ng-options="s for s in ages track by s" class="reign-in form-control">
				<option value="">Choose an age group</option>
			</select>
		</li>

		<!-- number of students -->
		<li class="list-group-item">
			<label>Number of students:</label>
			<input type="text" ng-model="job.numStudents" ng-change="jobs.$save(job)">
		</li>

		<!-- city -->
		<li class="list-group-item subjects-list-item">
			<span class="select-dropdown"><label>City:</label>{{job.city}}</span>
			<select ng-model="job.city" ng-options="c for c in cities track by c" class="reign-in form-control">
				<option value="">Choose a city</option>
			</select>
		</li>


	</ul>

</div>