<style>
	table {
		font-size: smaller;
	}
</style>

<table class="table" ng-if="skinny">
	<thead>
		<tr>
			<th></th>
			<th class="th-btn" ng-click="orderByFn('firstName')">Name</th>
			<th class="th-btn" ng-click="orderByFn('roles')">Role</th>
			<th class="th-btn" ng-click="orderByFn('country')">Country</th>
			<th class="th-btn" ng-click="orderByFn('location')">Location</th>
			<th class="th-btn" ng-click="orderByFn('dateAdded')">Added</th>
			<th class="th-btn" ng-click="orderByFn('interviewed')">Interviewed</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(name, user) in users | orderBy: orderBy | filter:filterText" class="users-table-body">
			<td><input type="checkbox" ng-checked="selectedUsers.indexOf(user) > -1" ng-click="toggleSelectedUser(user)"></td>
			<td ng-click="viewProfile(user.$id)" class="firstName">{{user.firstName}} {{user.lastName}}</td>
			<td ng-if="user.roles">
				<explode wrap="roles" obj="user.roles"></explode>
			</td>
			<td>{{countries[user.country]}}</td>
			<td>{{user.location}}</td>
			<td><span am-time-ago="user.dateAdded"></span></td>
			<td class="text-center">
				<span ng-if="user.interviewed" class="text-center">✓</span>
			</td>
		</tr>
	</tbody>
</table>