<style>
	.booksTbl {
		font-size:x-small;
	}
</style>


<div class="page-header">
	<h1 class="col-lg-8">Books</h1>
	<button class="btn btn-primary pull-right" ng-click="addItem()">New</button></h1>
</div>


<table class = "table table-striped booksTbl">
	<thead>
		<th>Date Paid</th>
		<th>Date Added</th>
		<th>Date Modified</th>
		<th>Amount</th>
		<th>In/Out</th>
		<th>Purpose</th>
		<th>Job</th>
		<th>Payer</th>
		<th>Recipient</th>
		<th>Invested</th>
		<th>Profited</th>		
	</thead>
	<tbody>
		<tr ng-repeat="i in items">
			<td>{{i.datePaid | date:'MM/dd/yy'}}</td>
			<td>{{i.dateAdded | date:'MM/dd/yy'}}</td>
			<td>{{i.dateModified | date:'MM/dd/yy'}}</td>
			<td>{{i.amount}}</td>
			<td>{{i.inOut}}</td>
			<td>{{i.purpose}}</td>
			<td>{{i.job}}</td>
			<td>{{i.payer}}</td>
			<td>{{i.recipient}}</td>
			<td>{{i.invested}}</td>
			<td>{{i.profited}}</td>
		</tr>
	</tbody>
</table>