<p>This is the jobEdit view.</p>

<form no-validate>
	<div class = "form-group">
		Title
		<input type="text" ng-model="title">
	</div>
	<div class = "form-group">Long description<input type="text" ng-model="longDesc"></div>
	<div class = "form-group"><input type="text" ng-model="age"></div>
	<div class = "form-group"><input type="text" ng-model = "numStudents"></div>
	<div class = "form-group"><input type="text" ng-model="pay"></div>
	<div class = "form-group"><ng-select = "subjects"></ng-select></div>
	<div class = "form-group"><input type="text" ng-model="location"></div>
	<div class = "form-group"><input type="number" ng-model="lat"></div>
	<div class = "form-group"><input type = "number" ng-model="lng"></div>
	<div class = "form-group"><input type = "text" ng-model = "feeStructure"></div>
</form>

<contact-info-directive></contact-info-directive>