<div class="page-header col-lg-12 col-sm-12">
	<h1>Jobs<button class="btn btn-primary pull-right" ng-click="addJob()">New</button>
</h1>
</div>

<style>
	.filterBar {
		height:100%;	
		display:inline-flex;
		min-width: 190px;
	}
	.clearFilter {
		font-size:x-small;
		display:none;
	}
	.filterContent {
		background:whitesmoke;
		margin:0;
		padding:10px;
	}
	.filterContent option, .filterContent input, .filterContent button {
		font-size: smaller;
	}
	.filterContent label {
		font-size: small;
	}
	body, html {
		height:100%;
	}
	.jobPageWrapper {
		height:100%;
	}
	@media screen and (max-width: 800px) {
		.filterBar {
			display:none;
		}
	}
	.jobPageWrapper {
		display:inline-flex;
	}	
	.job-results .job-panel:last-of-type {
		border-bottom:none;
	}

</style>
<!-- filters -->
<div class ="jobPageWrapper row">
	<div class = "filterBar col-lg-3 col-xl-3">
	<div class = "filterContent">
			<div class="form-group">
				<label>Search</label><button class = "clearFilter btn-link btn btn-xs pull-right" ng-click="clear(filterSearch)">clear</button>
				<input type="text" class="form-control" ng-model="filterSearch" placeholder="Search">
			</div>
			<div class = "form-group filter-age">
				<label>Ages</label><button class = "clearFilter btn-link btn btn-xs pull-right">clear</button>
				<select ng-model="filterText.age" class="reign-in form-control" multiple>
					<option ng-repeat="age in ages">{{age}}</option>
				</select>	
			</div>	
			<div class = "form-group filter-subjects">
				<label>Subjects</label><button class = "clearFilter btn-link btn btn-xs pull-right" ng-click="filterText.subjects = undefined">clear</button>
				<select ng-model="filterText.subjects" class="form-control reign-in" multiple ng-options="key as subject for (key, subject) in subjects">	
				</select>
			</div>			
			<div class = "form-group filter-cities">
				<label>Cities</label><button class = "clearFilter btn-link btn btn-xs pull-right" ng-click="clear()">clear</button>
				<select ng-model="filterText.city" class="reign-in form-control" multiple ng-options="key as city.en for (key, city) in cities">
				</select>
			</div>			
			<div class = "form-group filter-status">
				<label>Status</label><button class = "clearFilter btn-link btn btn-xs pull-right" ng-click="clear(filterText.status)">clear</button>
				<select ng-model="filterText.status" class="form-control" multiple ng-options="key as status for (key, status) in statuses">
				</select>
			</div>
			<div class ="form-group">
				<label>Sort by</label><br>
				<button type="button" class="btn btn-default btn" ng-click="toggleGroupBy()">
					{{orderedBy}}
				</button>
			</div>
			<div class = "text-center">				
				<button type="button" class="btn btn-link" ng-click="filterText = undefined">
					Clear All
				</button>
			</div>				
		</div>	
	</div>

	<div class = "job-results col-lg-9 col-xl-9">
		<div class = "resultsNum">Showing {{filteredJobs.length}} results</div>
		<div class="job-directive" ng-repeat="(key, job) in (filteredJobs = (jobs | orderBy: groupBy | jobsFilter: filterText | filter: filterSearch ))">
			<ll-job job="job" key="key"></ll-job>
		</div>
	</div>

</div>



