<style>
	h1 { 
		font-size: 2em;
	}
	h3 {
		padding:0;
		margin-top:0;
	}
	li {
		list-style: none;
	}
	.description {
		font-size: 1.25em;
		font-weight: 450;
	}
	.fast-facts {
		background: #eee;
		margin-bottom: 20px;
		padding: 20px 20px 10px 20px;	
	}
	.fast-facts table {
		max-width: 100%;
		background-color: transparent;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.fast-facts td {
		vertical-align: top;
		font-size:1.2em;
		padding-bottom: 16px;
	}
	.catValue {
		font-weight: 400;

	}
	.catName {
		padding-right: 20px;
	}
	.job_ {
		padding-bottom: 14px;
	}
	.left {
		padding-left: 0;
	}
	.llClear {
		border-radius: 4px;
		border:1px solid darkgray;
		text-decoration: none;
		color:black;
		background:none;
	}
	.loginSuggest {
		padding-bottom: 5px;
	}
</style>

<div class="page-header">
	<h1>
		{{job.title}}
		<button ng-if="isAdmin" class="btn btn-primary pull-right" ng-click="edit()">Edit</button>
	</h1>
	<small>Last updated <span am-time-ago="job.dateModified"></span></small>
</div>

<div class = "left col-lg-8 col-md-7 col-sm-6">
	<div class = "about-job">	
		<div class = "fast-facts">
			<table>
				<tbody>
					<tr ng-if="job.city">
						<td class="catName"><strong>City:</strong></td>
						<td class="catValue">{{cities[job.city].en}}</td>
					</tr>
					<tr ng-if="job.shortLocation">
						<td class = "catName"><strong>Area:</strong></td>
						<td class="catValue">{{job.shortLocation}}</td>
					</tr>
					<tr ng-if="job.numStudents">
						<td class="catName"><strong>Class Size:</strong></td>
						<td class="catValue">{{job.numStudents}}</td>
					</tr>
					<tr ng-if="job.locationDesc">
						<td class="catName"><strong>Location:</strong></td>
						<td class="catValue">{{job.locationDesc}}</td>
					</tr>
					<tr ng-if="job.age">
						<td class="catName"><strong>Age:</strong></td>
						<td class="catValue"><explode wrap="ages" array="job.age"></explode></td>
					</tr>
					<tr ng-if="job.teacherPay">
						<td class="catName"><strong>Pay:</strong></td>
						<td class="catValue">{{job.teacherPay}}</td>
					</tr>
					<tr ng-if="job.subjects.length > 0">
						<td class="catName"><strong>Subject:</strong></td>
						<td class="catValue"><explode wrap="subjects" array="job.subjects"></td>
					</tr>	
					<tr ng-if="job.schedule">
						<td class="catName"><strong>Schedule:</strong></td>
						<td class="catValue">{{job.schedule}}</td>
					</tr>	
				</tbody>
				<tbody ng-if="isAdmin">
					<tr ng-if="job.status">
						<td class="catName"><strong>Status:</strong></td>
						<td class="catValue">{{status[job.status]}}</td>
					</tr>
					<tr ng-if="job.clientID">
						<td class="catName"><strong>Client:</strong></td>
						<td class="catValue"><a href="#/profile/{{job.clientID}}">{{job.clientName}}</a></td>
					</tr>
					<tr ng-if="job.fee">
						<td class="catName"><strong>Fee:</strong></td>
						<td class="catValue">{{job.fee}}</td>
					</tr>
				</tbody>
			</table>
		</div>		
		<div class = "description">
			{{job.longDesc}}
		</div>
		<div>
			<apply userid="user.$id" jobid="job.$id"></apply>
		</div>
		<div ng-if="isAdmin">
			<notes notes="job.notes"></notes>
			<ll-job-applicants jobid="job.$id"></ll-job-applicants>
		</div>
	</div>
</div>

<div class = "right col-lg-4 col-md-5 col-sm-6">
	<div class = "related-jobs">
		<h3>Other Jobs</h3>
		<div class = "job_" ng-repeat="job_ in jobs | limitTo:4">	
			<a ng-href="#/jobview/{{job_._id}}">{{job_.title}}</a><br>
			<small>{{job_.shortLocation}}<span ng-if="job_.city && job_.shortLocation">,</span>
</small>
			<small>{{cities[job_.city].en}}</small>
		</div>
	</div>
	<div class = "share-job"></div>
</div>
