<style>
	h1 { 
		font-size: 2em;
	}
	h3 {
		padding:0;
		margin-top:0;
	}
	li {
		list-style: none;
	}
	.description {
		font-size: 1.25em;
		font-weight: 450;
	}
	.fast-facts {
		background: #eee;
  		margin-bottom: 20px;
  		padding: 20px 20px 10px 20px;	
	}
	.fast-facts table {
		max-width: 100%;
  		background-color: transparent;
  		border-collapse: collapse;
  		border-spacing: 0;
	}
	.fast-facts td {
  		vertical-align: top;
  		font-size:1.2em;
  		padding-bottom: 16px;
	}
	.catValue {
		font-weight: 400;
  		
	}
	.catName {
		padding-right: 20px;
	}
	.job_ {
		padding-bottom: 14px;
	}
	.left {
		padding-left: 0;
	}
	.apply_box {
		margin-top:30px;
		background: white;
	}
	.llClear {
		border-radius: 4px;
		border:1px solid darkgray;
		text-decoration: none;
		color:black;
		background:none;
	}
	.loginSuggest {
		padding-bottom: 5px;
	}
	  .css-form input.ng-invalid.ng-touched {
	    background-color:#FA787E;
	  }

  
</style>
</style>

<div class="page-header">
	<h1>{{job.title}}<!--button class="btn btn-primary pull-right" data-spy="scroll" data-target="#apply">Apply</button-->
	</h1>
	<small>Last updated <span am-time-ago="job.dateModified"></span></small>
</div>

<div class = "left col-lg-8 col-md-7 col-sm-6">
	<div class = "about-job">	
		<div class = "fast-facts">
			<table>
				<tbody>
					<tr ng-if="job.city">
						<td class="catName"><strong>City:</strong></td>
						<td class="catValue">{{cities[job.city].en}}</td>
					</tr>
					<tr ng-if="job.shortLocation">
						<td class = "catName"><strong>Area:</strong></td>
						<td class="catValue">{{job.shortLocation}}</td>
					</tr>
					<tr ng-if="job.numStudents">
						<td class="catName"><strong>Class Size:</strong></td>
						<td class="catValue">{{job.numStudents}}</td>
					</tr>
					<tr ng-if="job.locationDesc">
						<td class="catName"><strong>Location:</strong></td>
						<td class="catValue">{{job.locationDesc}}</td>
					</tr>
					<tr ng-if="job.age">
						<td class="catName"><strong>Age:</strong></td>
						<td class="catValue"><explode wrap="ages" array="job.age"></explode></td>
					</tr>
					<tr ng-if="job.teacherPay">
						<td class="catName"><strong>Pay:</strong></td>
						<td class="catValue">{{job.teacherPay}}</td>
					</tr>
					<tr ng-if="job.subjects">
						<td class="catName"><strong>Subject:</strong></td>
						<td class="catValue"><explode wrap="subjects" array="job.subjects"></td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div class = "description">
			{{job.longDesc}}
		</div>
	</div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1)">
		<span ng-bind-html="alert.msg"></span>
	</alert>
	<div id="apply" class = "apply_box well">
		<h4 class="text-center">Apply</h4>
		<div class = "apply_socially"></div>
		<div class = "apply_traditionally">
			<form novalidate class="css-form" name="applicationForm">
				<div class="not-logged-in" ng-if="!user">
					<div class ="text-center loginSuggest">
						<!-- it would be nice if this returned us to this page after logging in -->
						<small class="text-center">Already a user? Apply easily by <a ng-href="/#/login">logging in</a> first.</small>
					</div>				
					<div class = "form-group">
						<input class="form-control" type="text" ng-model="applicant.name" placeholder="Enter First Name">
					</div>
					<div class = "form-group">
						<input class="form-control" type="email" ng-model="applicant.email" name="email" placeholder="Enter Email" >
						<small>That email is already in use. Why don't you <a ng-href="/#/login">sign in</a> first?</small>
					</div>
				</div>
				<div class = "coverLetter form-group">
					<textarea class="textarea form-control" placeholder="Enter a note / cover letter (optional)" ng-model="applicant.why"></textarea>
				</div>
			</form>
				<div class = "form-group">
					<!--button class="btn btn-default llClear" ng-if="user.cv" ng-click="deleteCV()">Delete</button-->
					<span class="btn btn-default llClear" ngf-select ngf-change="upload($files)" ng-show="applicant.name && applicant.email || user">
						<span ng-if="user.cv">Update CV</span>
						<span ng-if="!user.cv">Upload CV</span>
					</span>
					<a ng-show="user.cv.length > 0" ng-href="{{user.cv}}" target="blank_" class="btn btn-default llClear">Download CV</a>
				</div>
				<!-- <div class="button btn btn-default form-group" ngf-select ngf-change="upload($files)">
					Upload New CV
				</div>	 -->
			</div>					<br>
			<div class = "submitApplication form-group text-center" ng-show="applicant.name && applicant.email || user">
				<button class="btn btn-primary" ng-click="apply()">{{doneApplied}}</button>
			</div>
	</div>
</div>
</div>

<div class = "right col-lg-4 col-md-5 col-sm-6">
	<div class = "related-jobs">
		<h3>Other Jobs</h3>
		<div class = "job_" ng-repeat="job_ in jobs | limitTo:4">	
			<a ng-href="#/jobview/{{job_.$id}}">{{job_.title}}</a><br>
			<small>{{cities[job_.city].en}},</small>
			<small>{{job_.shortLocation}}</small>
		</div>
	</div>
	<div class = "share-job"></div>
</div>


<apply user-id="user.$id" job-id="job.$id"></apply>

    <!--img ngf-src="files[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'"-->


{{u.cv}}