<style>
	.ll-center {
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
	.ll-forms {
		padding-bottom:10px;
	}
</style>

{{someInfo}}

<form novalidate class="ll-center ll-forms col-lg-5 col-md-5" ng-submit="login()">
	<div class = "page-header">
		<h1>Login</h1>
		<small>All fields required</small>
	</div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);">{{alert.msg}}</alert>
	<div class="form-group">
		<label>Email</label>
		<input ng-model="usr.email" type="email" class="form-control">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input ng-model="usr.password" type="password" class="form-control">
	</div>
	<button type="submit" class="btn btn-default">Login</button>
	<button class="btn btn-link">Forgot Password?</button>
</form>