<style>
	.booksTbl {
		font-size:x-small;
	}
</style>


<div class="page-header">
	<h1>Payments</h1>
	<button class="btn btn-primary pull-right" ng-click="addItem()">New</button></h1>
</div>


<table class = "table table-striped booksTbl">
	<thead>
		<th>Date Paid</th>
		<!-- <th>Date Added</th>
		<th>Date Modified</th> -->
		<th>Amount</th>
		<th>Job</th>
		<th>Paid By</th>
		<th>Paid To</th>
	</thead>
	<tbody>
		<tr ng-repeat="i in items">
			<td>{{i.whenPaid | date:'MM/dd/yy'}}</td>
			<!-- <td>{{i.whenAdded | date:'MM/dd/yy'}}</td>
			<td>{{i.whenUpdated | date:'MM/dd/yy'}}</td> -->
			<td>{{i.amount}}</td>
			<td><a ng-href="#/jobview/{{i.job}}">visit job</a></td>
			<td><visit who="i.paidBy"></visit></td>
			<td><visit who="i.paidTo"></visit></td>
		</tr>
	</tbody>
</table>