<style>
	.profile-avatar img {
		padding: 0;
		padding-bottom: 0px;
		border-radius: 4px;		
		max-width: 330px;
		max-height:330px;
		margin-left:auto;
		margin-right:auto;
	}
	.profile_avatar {
		background-color:#2bbbd8;
		text-align:center;
		margin-right:5px;
	}
	.fields-name {
		color:grey;
	}
	.profile-head-text img {
		padding-right: 5px;
	}	

	.styled li {
		list-style: none;
	}

	.profile-head-text {
		font-family: Helvetica,Arial,Verdana,sans-serif;
		color: #444;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 2em;
	}
	ul {
		margin-bottom: 0;
		padding:0;
	}
	.styled {
		padding:8px;
		font-size: 1em;
		color:black;
		border-radius:5px;
		border:1px solid #ddd;
		background-color: white;
		margin:2px;
		text-align: center;
	}
	.profile-container {
		padding:10px;
	}
	.center {
		margin:0 auto;
		float:none;
	}
	body {
		background:pearlwhite;
	}

	
</style>

<div class="page-header">
	<h1>{{user.firstName}} {{user.lastName}} {{user.chineseName}}<button class="btn btn-primary pull-right" ng-click="goToEdit()">Edit</button>
	</h1>
</div>

<div class = "clearfix profile-container container col-lg-12">
	<div class = "col-lg-offset-0 col-xs-offset-0 col-sm-offset-0">
		<!-- at large res, float; at small res put on top -->
		<div class = "profile-avatar col-xs-9 col-sm-4 col-lg-4 styled" ng-if="user.avatar && user.avatar.data">
			<!--img src="{{user.avatar.data}}" class="avatar-img"/-->			
		</div>		
		<div class = "styled col-sm-12 col-md-12 col-xs-12 col-lg-12" ng-if="user.roles">
			<span class = "fields-name">Is a</span> <explode wrap="roles" obj="user.roles"></explode> 		
		</div>
		<div class = "styled col-sm-12 col-md-12 col-xs-12 col-lg-12" ng-if="user.interviewed">
			<span class = "fields-name">Has been </span>interviewed
		</div>
		<div class = "col-lg-7 col-sm-12 col-md-12 styled col-xs-12" ng-if="user.city">
			<span class = "fields-name">Lives in </span>{{ cities[user.city].zh }}
		</div>
		<div class = "locationStyled col-sm-12 col-md-12 styled col-xs-12 col-lg-12" ng-if="user.location">
			<span class = "fields-name">Lives at </span>{{ user.location }}
		</div>
		<div class = "nationality col-sm-12 col-md-12 styled col-xs-12 col-lg-12" ng-if="user.country">
			<span class = "fields-name">From </span>{{ countries[user.country] }}
		</div>
		<div class = "lastSeen styled col-sm-12 col-md-12 col-xs-12 col-lg-12" ng-if="user.lastLogin">
			<span class = "fields-name">Seen on </span> {{ user.last_login | date:'MM/dd/yy' }}
		</div>
		<div class = "since styled col-xs-12 col-md-12 col-sm-12 col-lg-12" ng-if="user.dateAdded">
			<span class = "fields-name">Joined </span>{{ user.dateAdded | date:'MM/dd/yy' }}
		</div>
		<div class = "ethnicity styled col-xs-12 col-md-12 col-sm-12 col-lg-12" ng-if="user.ethnicity">
			<span class = "fields-name">Ethnically </span>
			{{ ethnicities[user.ethnicity] }}
		</div>
		<div class = "styled col-xs-12 col-lg-12 col-sm-12 col-md-7" ng-if="user.ages">
			<span class = "fields-name">Lived </span><explode array="user.ages"></explode> <span class = "fields-name"> years</span>
		</div>		
		<div class =  "styled col-lg-12 col-xs-12 col-sm-12 col-lg-12" ng-if="user.subjects">
			<span class = "fields-name">{{teachesStudies}} </span>
			<explode wrap="subjects" array="user.subjects"></explode>
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-if="user.contact">			
			<profile-box label="contact" obj="user.contact"></profile-box>
		</div>
		<div class = "styled col-lg-12 col-xs-12 col-sm-12 col-lg-12" ng-if="user.schedule">
			<span class = "fields-name">Available <br></span> {{user.schedule}}			
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-if="user.cv">
			<span class="fields-value"><a target="_blank" href="{{user.cv}}">Original Resume</a></span>
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-if="jobKeys.length > 0">
			<span class="fields-name">Jobs</span><br>
			<jobs-assoc jobs="jobKeys"></jobs-assoc>		 
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-if="teacherFor.length > 0">
			<span class="fields-name">Teacher For</span><br>
			 <jobs-assoc jobs="teacherFor"></jobs-assoc>
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<span class="fields-name">Notes</span><br>
			<notes notes="notes" can-add="true"></notes>
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-if="user.payment.alipay">
			<span class="fields-name">支付宝是</span>
			<span class="fields-value">{{user.payment.alipay}}</span>
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-if="user.payment.weChatPay">
			<span class="fields-name">微信包是</span>
			<span class="fields-value">{{user.payment.weChatPay}}</span>
		</div>
		<div class = "styled col-lg-12 col-md-12 col-xs-12 col-sm-12 col-lg-12" ng-repeat="bank in user.payment.banks" ng-if="user.payment.banks">
			<span class="fields-name">Name of bank is</span>
			<span class="fields-value">{{bank.nameOfBank}}</span>
			<br>
			<span class="fields-name">Name on account is</span>
			<span class="fields-value">{{bank.nameOnAcct}}</span>
			<br>
			<span class="fields-name">Account number is</span>
			<span class="fields-value">{{bank.acctNum}}</span>
		</div>

	</div>
	<!-- to add: jobs associated with, jobs applied for, payables, bank info, education potentially -->	

	
</div>

<pre>{{user|json}}</pre>
