<style>
	.tab-content .active {
		margin-top:20px;
	}
	.avatar-img {
		max-width: 200px;
		max-height:200px;
	}
	.map-canvas { height: 400px; }
</style>


<div class="page-header">
	<h1>{{user.firstName}} {{user.lastName}}<button class="btn btn-primary pull-right" ng-click="goToProfile()">View Profile</button></h1>
</div>

<div class = "edit-profile-container">
	<tabset type="pills" class="edit-profile-menu">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1)">
		<span ng-bind-html="alert.msg"></span>
	</alert>

		<tab heading="Basic">
			
			<div class = "form-group">
				<label>Roles</label><br/>
				<select ng-model="userRoles" class="form-control" multiple ng-change="saveRoles(userRoles)" ng-options="key as role for (key, role) in roles">
				</select>
			</div>
			<div class = "form-group firstName">
				<label>First Name</label><br>
				<input type="text" class="form-control" ng-model="user.firstName" ng-change="user.$save()">
			</div>
			<div class = "form-group lastName">
				<label>Last Name</label> <span class="label label-default">Private</span>
				<input type="text" class="form-control" ng-model="user.lastName" ng-change="user.$save()">
			</div>			
			<div class = "form-group country">
				<label>Country of Citizenship</label>
				<select class="form-control" ng-model="user.country" ng-change="user.$save()">
					<option value="234">United States</option>
					<option value="233">United Kingdom</option>
					<option value="39">Canada</option>
					<option value="14">Australia</option>
					<option value="157">New Zealand</option>
					<option>-----</option>
					<option ng-repeat="c in countries" value="{{$index}}">{{c}}</option>
				</select>
			</div>
			<div class = "form-group ethnicity">
				<label>Ethnicity</label>
				<select class="form-control" ng-model="user.ethnicity" ng-change="user.$save()">
					<option value=""></option>
					<option ng-repeat="r in races track by $index" value="{{$index}}">{{r | capitalizeFirst }}</option>
				</select>
			</div>
			<label>Notes</label>
			<notes notes="notes" can-add="true"></notes>			
		</tab>

		<tab heading="Personal">
			<div class = "form-group">
				<label>Photo</label><br>
<!-- 				<img src="{{user.avatar.data}}" class="avatar-img"/>
 -->				<form ng-submit="uploadImage(image)">
					<div class="fb-error" ng-show="error">{{error}}</div>
					<div class="fb-inputs" ng-hide="image.isUploading">
						<input class="fb-image-upload" fb-image-upload class="fb-input" type="file" name="image"/>
						<input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid"/>
					</div>
					<div class="fb-uploading" ng-show="image.isUploading">
						Uploading...
					</div>
					<div class="" ng-show="status">{{status}}</div>
				</form>
			</div>
			<div class = "form-group chineseName">
				<label>Chinese Name</label>
				<input type="text" class="form-control" ng-model="user.chineseName" ng-change="user.$save()">
			</div>
			<div class = "form-group birthday">
				<label>Birthday</label> <span class="label label-default">Private</span>
				<div>
					<datepicker ng-model="user.birthday" class="well" ng-change="saveDate(user.birthday)"></datepicker>
				</div>
			</div>
		</tab>

		<tab heading="Work / Study">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="user.interviewed" ng-change="user.$save()"> Interviewed
				</label>
			</div>
			<div class="form-group">
				<label>Subjects you can teach / you want to study / you have studied<br/><small>Ctrl + click to select more than one </small></label>
				<select class="form-control" multiple ng-model="userSubjects" ng-change="saveSubjects(userSubjects)" ng-options="key as subject for (key, subject) in subjects">
				</select>
			</div>
			<div class="form-group">
				<label>Preferred student age / studen't age<br/><small>Ctrl + click to select more than one </small></label>	
				<select class="form-control" multiple ng-model="userAges" ng-change="saveAges(userAges)" ng-options="key as age for (key, age) in ages">
				</select>
			</div>
			<div class = "form-group">
				<label>Schedule</label>
				<textarea ng-model="user.schedule" class="form-control" ng-change="user.$save()"></textarea>
			</div>
			<div class="form-group">
				<label>Language level</label>
				<select class="form-control" ng-model="user.languageLevel" ng-change="user.$save()">
					<option value=""></option>
					<option ng-repeat="l in languageLevel" value="{{$index}}">{{l.shortDesc}}</option>
				</select>
			</div>			
			<div class = "form-group" ng-if="user.cv">
				<label>View CVs</label><br>
				<a href="{{user.cv}}" target="blank_">Original CV</a>
			</div>
			<div class = "form-group">
				<label>Upload New CV</label><br>
				<div class="button btn btn-default" ngf-select ngf-change="upload($files)">
				Browse</div>
			</div>	
		</tab>		

		<tab heading="Location">
			<div class = "form-group">
				<label>City</label>
				<input ng-model="user.city" typeahead-editable="false" typeahead="cities.indexOf(city) as (cities.indexOf(city) + ' - ' + city.en + ' - ' + city.zh) for city in cities | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="user.$save()">
			</div>
			<div class = "form-group">
				<label>Specific Location</label>
				<input type="text" class="form-control" ng-model="user.location" ng-change="user.$save()" placeholder="South of Dongzhimen"/>
			</div>			
		</tab>

		<tab heading="Education">
			<div class = "form-group">
				<label>University Name</label>
				<input type="text" ng-model="selected" typeahead="college for college in colleges | filter:$viewValue | limitTo:8" class="form-control">
			</div>
			<div class = "form-group">
				<label>Area of study</label>
				<input type="text" ng-model="yolo" typeahead="major.major_en_name for major in majors | filter:$viewValue | limitTo:8" class="form-control">			
			</div>
			<div class = "form-group">
				<label>Degree awarded</label>
				<select class="form-control">
					<option ng-repeat="d in degrees">{{d | capitalizeFirst}}</option>
				</select>
			</div>
		</tab>		

		<tab heading="Contact">			
			<contact-info ng-repeat="contact in contacts" user="{{user.$id}}" pos="{{contact.$id}}"></contact-info>
			<button ng-click="addContact()" class="btn btn-default pull-right">Add +</button>
		</tab>

		<tab heading="Payment">
			<div class="form-group">
				<label>Alipay ID</label>
				<input type="text" class="form-control" ng-model="user.payment.alipay" ng-change="user.$save()">
			</div>
			<div class="form-group">
				<label>WeChat Payment ID</label>
				<input type="text" class="form-control" ng-model="user.payment.weChatPay" ng-change="user.$save()">
			</div>	
			<bank-info ng-repeat="bank in banks" user="{{user.$id}}" ident="{{bank.$id}}" ></bank-info>	
			<button class="btn btn-default pull-right" ng-click="addBank()">+ Bank</button>
		</tab>
	</tabset>	
</div>
