<style>
	.tab-content .active {
		margin-top:20px;
	}
	.avatar-img {
		max-width: 200px;
		max-height:200px;
	}
	.map-canvas { height: 400px; }
</style>


<div class="page-header">
	<h1>Edit Profile<button class="btn btn-primary pull-right" ng-click="goToProfile()">View Profile</button></h1>
</div>

<div class = "edit-profile-container">
	<tabset type="pills" class="edit-profile-menu">

		<tab heading="Basic">
			<div class = "form-group">
				<label>Photo</label><br>
				<img src="{{user.avatar.data}}" class="avatar-img"/>
				<form ng-submit="uploadImage(image)">
					<div class="fb-error" ng-show="error">{{error}}</div>
					<div class="fb-inputs" ng-hide="image.isUploading">
						<input class="fb-image-upload" fb-image-upload class="fb-input" type="file" name="image"/>
						<input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid"/>
					</div>
					<div class="fb-uploading" ng-show="image.isUploading">
						Uploading...
					</div>
					<div class="" ng-show="status">{{status}}</div>
				</form>
			</div>
			<div class = "form-group">
				<label>First Name</label><br>
				<input type="text" class="form-control" ng-model="user.firstName" ng-change="user.$save()">
			</div>
			<div class = "form-group">
				<label>Last Name</label> <span class="label label-default">Private</span>
				<input type="text" class="form-control" ng-model="user.lastName" ng-change="user.$save()">
			</div>
			<div class = "form-group">
				<label>Chinese Name</label>
				<input type="text" class="form-control" ng-model="user.chineseName" ng-change="user.$save()">
			</div>
			<div class = "form-group country">
				<label>Country of Citizenship</label>
				<select class="form-control" ng-model="user.country" ng-change="user.$save()">
					<option ng-repeat="c in countries" value="{{$index}}">{{c}}</option>
				</select>
			</div>
			<div class = "form-group ethnicity">
				<label>Ethnicity</label>
				<select class="form-control" ng-model="user.ethnicity" ng-change="user.$save()">
					<option value=""></option>
					<option ng-repeat="r in races track by $index" value="{{$index}}">{{r | capitalizeFirst }}</option>
				</select>
			</div>
			<div class = "form-group birthday">
				<label>Birthday</label> <span class="label label-default">Private</span>
				<div>
					<datepicker ng-model="user.birthday" class="well" ng-change="saveDate(user.birthday)"></datepicker>
				</div>
			</div>
			<small>*Cannot be changed</small>
		</tab>

		<tab heading="Work/Study">
			<div class="form-group">
				<label>Subjects you can teach / you want to study / you have studied<br/><small>Ctrl + click to select more than one </small></label>
				<select class="form-control" multiple ng-model="userSubjects" ng-change="saveSubjects(userSubjects)">
					<option ng-repeat="s in subjects">{{s}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Preferred student age / studen't age<br/><small>Ctrl + click to select more than one </small></label>	
				<select class="form-control" multiple ng-model="userAges" ng-change="saveAges(userAges)">
					<option ng-repeat="a in ages">{{a}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Chinese / English language level</label>
				<select class="form-control" ng-model="user.language_level" ng-change="user.$save()">
					<option value=""></option>
					<option ng-repeat="l in languageLevel" value="{{$index}}">{{l.shortDesc}}</option>
				</select>
			</div>		
		</tab>

		<tab heading="Location">
			<div class = "form-group">
				<label>City</label>
				<input ng-model="user.city" typeahead-editable="false" typeahead="cities.indexOf(city) as (cities.indexOf(city) + ' - ' + city.en + ' - ' + city.zh) for city in cities | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="user.$save()">
			</div>
			<div class = "form-group">
				<label>Specific Location</label>
				<input type="text" class="form-control" ng-model="user.location" ng-change="user.$save()" placeholder="South of Dongzhimen"/>
			</div>
			<label>Map</label>
			<section id="map">
 				<div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
			</section>
		</tab>

		<tab heading="Education">
			<div class = "form-group">
				<label>University Name</label>
				<input type="text" ng-model="selected" typeahead="college for college in colleges | filter:$viewValue | limitTo:8" class="form-control">
			</div>
			<div class = "form-group">
				<label>Area of study</label>
				<input type="text" ng-model="yolo" typeahead="major.major_en_name for major in majors | filter:$viewValue | limitTo:8" class="form-control">			
			</div>
			<div class = "form-group">
				<label>Degree awarded</label>
				<select class="form-control">
					<option ng-repeat="d in degrees">{{d | capitalizeFirst}}</option>
				</select>
			</div>
		</tab>		

		<tab heading="Contact">			
			<contact-info ng-repeat="contact in contacts" user="{{user.$id}}" pos="{{contact.$id}}"></contact-info>
			<button ng-click="addContact()" class="btn btn-default pull-right">Add +</button>
		</tab>

		<tab heading="Payment">
			<div class="form-group">
				<label>Zhifubao 支付宝</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>WeChat Payment ID</label>
				<input type="text" class="form-control">
			</div>		
			<label>add a bank</label>	
		</tab>
	</tabset>	
</div>
