<style>
.users-table-body .firstName:hover{
	background-color: whitesmoke;
	cursor: pointer;
}
.th-btn:hover {
	text-decoration: underline;
	cursor: pointer;
}
</style>


<div class="page-header">
	<h1 class="col-lg-8">Users</h1>
	<div class = "form-group col-lg-3">
		<input type="text" class="form-control" ng-model="filterText.$">
	</div>
	<button class = "btn btn-primary" ng-click="skinny = !skinny">ToggleViews</button>
	<button class="btn btn-primary pull-right" ng-click="addUser()">New</button></h1>
</div>

<div class = "skinnyView" ng-if="skinny">
	<ng-include src="'views/templates/skinnyUserList.html'"></ng-include>
</div>

<div class = "thickView" ng-if="!skinny">
	<ng-include src="'views/templates/thickUserList.html'"></ng-include>
</div>
